.main-container{
    height: auto;
}
.sub-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    background-color:rgb(40, 53, 147);
    align-items: center;
}
.two-icons img, .six-icons img{
    width: 20px;
    height: 20px;
}
.two-icons span{
    padding: 15px;
}
.space{
    padding-right: 15px;
}
.search{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    max-height: 100%;
}
.spacebar{
    padding-right: 10px;
}
.spacebar input{
    transition: width .3s ease;
    border-radius: 15px;
    width: 250px;
    height: 25px;
    outline: none;
}
.spacebar input.close{
    width: 0px;  
    display: none; 
}
.two-icons button, .six-icons button{
    background: none;
    border: 0px;
    outline: none;
}
.six-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
}