.main-container{
    height: auto;
}
.sub-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    background-color:rgb(40, 53, 147);
    align-items: center;
}
.two-icons img, .six-icons img{
    width: 20px;
    height: 20px;
}
.two-icons span{
    padding: 15px;
}
.space{
    padding-right: 15px;
}
.search{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    max-height: 100%;
}
.spacebar{
    padding-right: 10px;
}
.spacebar input{
    transition: width .3s ease;
    border-radius: 15px;
    width: 250px;
    height: 25px;
    outline: none;
}
.spacebar input.close{
    width: 0px;  
    display: none; 
}
.two-icons button, .six-icons button{
    background: none;
    border: 0px;
    outline: none;
}
.six-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flag-container{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 
                0 4px 5px 0 rgba(0,0,0,.14), 
                0 1px 10px 0 rgba(0,0,0,.12);
}
.flag-a{
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    height: 36px;
    text-align:center;
    text-decoration: none;
}
.flag-a:hover{
    background-color: darkgray;
}
.flag-span{
    padding-left: 15px;
}
.flagImg-span img{
    width: 20px;
    height: 20px;
}
.flag-big-container{
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    max-width: 100%;
    max-height: 100%;
}
.flag-container1{
    top: 48px;
    left: 1158px;
    height: 294px;
    width: 208px;
    align-items: flex-start;
    justify-content: flex-start;
}