<div class="main-container">
    <div class="sub-container">
        <div class="two-icons">
            <span><button (click)="toggleNav()"><img src="../../../../assets/images/menu-button.png" alt="side-nav"></button></span>
            <span><button (click)="closeProfileContainer()"><img src="../../../../assets/images/man-user.png" alt="user"></button></span>
        </div>
        <div class="six-icons">
            <div class="search">
                 <span class="spacebar"><input [class.close]="openSerachBar" type="text" placeholder="Type to search..."></span>
                 <span class="space"><button (click)="searchBar()"><img src="../../../../assets/images/search.png" alt="search"></button></span>
            </div>
            <div class="flag">
                <span class="space"><a href="#" (click)="openLangBlock()"><img src="../../../../assets/images/flag.png" alt="flag"></a></span>
                <div class="flag-container1" [class.langClose]="langBlock">
                    <div class="flag-container2">
                        <div class="flag-container">
                            <a class="flag-a" *ngFor="let lang of langs" (click)= "langSelect(lang.value)">
                                <span class="flagImg-span"><img src="{{lang.img}}" alt="{{lang.value}}"></span>
                                <span class="flag-span">{{lang.title}}</span> 
                            </a>   
                        </div> 
                    </div>
                </div>
            </div>
            <span class="space"><a href="#"><img src="../../../../assets/images/switch-to-full-screen-button.png" alt="square"></a></span>
            <span class="space"><a href="#"><img src="../../../../assets/images/grid.png" alt="application"></a></span>
            <span class="space"><a href="#"><img src="../../../../assets/images/notification.png" alt="notification"></a></span>
            <span class="space"><a href="#"><img src="../../../../assets/images/user (1).png" alt="profile"></a></span>
        </div>
    </div>
</div>

       

