<div class="main-container">
    <div class="sub-container">
        <div class="card">
            <div class="product-profit-container">
                
            </div>
            <div class="total-orders-container">

            </div>
            <div class="refund-container">

            </div>
            <div class="customers-container">

            </div>
        </div>
        <div class="middile-card-container">
            <div class="disk-space-container">

            </div>
            <div class="to-do-list-container">

            </div>
        </div>
        <div class="last-card-container">
            <div class="analytics-container">

            </div>
            <div class="all-container">
                <div class="profits-container">

                </div>
                <div class="downloads-container">

                </div>
                <div class="sale-container">

                </div>
            </div>
        </div>
    </div>
</div>