<div class="user-header">
    <div class="two-logo">
        <span class="addUser">
            <button><img class="header-img" src="../../../../assets/images/add-user-button.png" alt="add user"></button>
        </span>
        <span class="searchButton">
            <button><img class="header-img" src="../../../../assets/images/magnifying-glass.png"
                alt="search button"></button>
        </span>
    </div>
    <div class="searchBar">
        <label for="search">
            <span>Search User By Name...</span>
        </label>
        <div>
            <input type="text" class="search">
            <hr>
        </div>
    </div>
    <div class="width-two-logo">
        <span class="small-width-button">
            <button><img class="header-img" src="../../../../assets/images/table.png" alt="short-width-button"></button>
        </span>
        <span class="long-width-button">
            <button><img class="header-img" src="../../../../assets/images/list.png" alt="long-width-button"></button>
        </span>
    </div>
</div>