.user-header{
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.two-logo{
    display: inline-block;
    width: 10%;
    float: left;
}
.width-two-logo{
    display: inline-block;
    width: 10%;
    float: right;
}
.header-img{
    max-height: 15px;
    max-width: 15px;
}
.addUser, .searchButton, .small-width-button, .long-width-button{
    display: inline-block;
}
.addUserDiv, .searchButtonDiv, .small-width-button-div, .long-width-button-div{
    padding: 8px;
    display: inline-block;
}
.addUser button, .searchButton button, .small-width-button button, .long-width-button button{
    background: none;
}
.searchDiv{
    position: relative;
    width: 100%;
    height: 40px;
}

.searchSpan span{
    text-align: center;
    position: absolute;
    z-index: 999;
    width: 99%;
}
.userSpan{
    color: grey;
    font-size: 15px;
}
.userSpan.drag{
    top: -10px;
    font-size: 11px;
    color: rgb(40, 53, 147);
    width:100%;
}
.search{
    border: 0px;
    outline: 0px;
    width: 100%;
    border-bottom: 1px solid rgb(40, 53, 147);
    position: absolute;
    height: 36px;
    text-align: center;
}
.searchBar{
  display: inline-block;
  width:80%;
}
.searchBar.close{
    display: none;
}
.search:focus{
    border-bottom: 1px solid rgb(40, 53, 147);
}
.user-list-container{
    margin: 10px;
}