<div class="form-container">
      <div class="form-style-6">
        <form>
        <input type="text" name="field1" placeholder="Title"/>
        <select name="icon">
          <option value="icon">icon</option>
          <option value=""></option>
        </select>
        <input type="text" name="field2" placeholder="routerLink"/>
        <input type="checkbox" name="hasSubMenu" value="hasSubMenu" class="check">Has Sub Menu
        <input type="text" name="href" placeholder="href"/>
        <input type="checkbox" name="blank" value="blank" class="check">_blank
        <input type="checkbox" name="self" value="self" class="check">_self
        <select name="Parent_menu">
          <option value="parentMenu">Parent Menu</option>
          <option *ngFor="let menu of menuSelect" value="{{menu}}">{{menu}}</option>
        </select>
        <input type="submit" value="Send" />
        </form>
        </div>
  </div>
