<div class="form-container">
      <div class="form-style-6">
        <form [formGroup]="angForm" (ngSubmit)="postData(angForm)">
        <input type="text" placeholder="{{'HOME.dynamic-menu-form-title' | translate}}" class="form-control" formControlName="title"[(ngModel)]="tModel"/>
        <div *ngIf="angForm.controls['title']?.invalid && (angForm.controls['title'].dirty || angForm.controls['title'].touched)" class="alert">
          <div *ngIf="angForm.controls['title'].errors.required">*{{'HOME.dynamic-menu-form-error-title' | translate}}</div>
        </div>
        <select class="form-control" formControlName="icon">
          <option value="icon" selected>{{'HOME.dynamic-menu-form-icon' | translate}}</option>
          <option value=""></option>
        </select>
        <div *ngIf="angForm.controls['icon']?.invalid && (angForm.controls['icon'].dirty || angForm.controls['icon'].touched)" class="alert">
          <div *ngIf="angForm.controls['icon'].errors.required">*{{'HOME.dynamic-menu-form-error-icon' | translate}}</div>
        </div>
        <input type="text" class="form-control" formControlName="{{'HOME.dynamic-menu-form-routerLink' | translate}}" placeholder="routerLink" [(ngModel)]="rModel"/>
        <div *ngIf="angForm.controls['routerLink']?.invalid && (angForm.controls['routerLink'].dirty ||angForm.controls['routerLink'].touched)" class="alert">
          <div *ngIf="angForm.controls['routerLink'].errors.required">*{{'HOME.dynamic-menu-form-error-routerLink' | translate}}</div>
        </div>
        <input type="checkbox" name="hasSubMenu" value="hasSubMenu" class="check form-control" formControlName="hasSubMenu">Has Sub Menu
        <input type="text" placeholder="{{'HOME.dynamic-menu-form-href' |translate}}" class="form-control" formControlName="href" [(ngModel)]="hModel"/>
        <div *ngIf="angForm.controls['href']?.invalid && (angForm.controls['href'].dirty || angForm.controls['href'].touched)" class="alert">
          <div *ngIf="angForm.controls['href'].errors.required">*{{'HOME.dynamic-menu-form-error-href' | translate}}</div>
        </div>
        <input type="checkbox" name="blank" value="blank" class="check">{{'HOME.dynamic-menu-form-blank' | translate}}
        <input type="checkbox" name="self" value="self" class="check">{{'HOME.dynamic-menu-form-self' | translate}}
        <select name="Parent_menu" class="form-control" formControlName="parentMenu">
          <option value="parentMenu" selected>{{'HOME.dynamic-menu-form-parent-menu' | translate}}</option>
          <option *ngFor="let menu of menuSelect" value="{{menu}}">{{menu}}</option>
        </select>
        <input type="submit" value="{{'HOME.dynamic-menu-form-Send' | translate}}"/>
        </form>
        </div>
  </div>
