 <div class="main-container">
          <div class="sub-container">
            <div class="header-container">
              <a href="#" class="a-g"><span class="g">G</span></a>
              <a href="#" class="a-gradus"><span class="gradus">GRADUS</span></a>
              <a href="#" class="a-pin"> <span class="pin"><img src="../../../../assets/images/pin.png" alt="pin"></span> </a>
            </div>
            <div class="profile-container">
              <div class="detail-container">
                <span class="profile-img"><img src="../../../../assets/images/profile.png" alt="picture"></span>
                <span class="data">
                  <h4>Durgesh Gupta</h4>
                  <h5>Web developer</h5>
                  <p>Member since May.2016</p>
                </span>
              </div>
              <div class="icon-container">
                <a href="#"><img src="../../../../assets/images/user.png" alt="avatar"></a>
                <a href="#"><img src="../../../../assets/images/message-closed-envelope.png" alt="message"></a>
                <a href="#"><img src="../../../../assets/images/power.png" alt="power"></a>
              </div>
            </div>
            <div class="menu-container">
              <div class="dashboard div-menu-container">
                <a href="#" class="a-menu">
                    <span class="icon-menu"><img src="../../../../assets/images/dashboard.png" alt="dashboard"></span>
                    <span class="menu-dash">Dashboard</span>
                </a>
              </div>
              <div class="div-menu-container">
                <a href="#" class="a-menu">
                    <span class="icon-menu"><img src="../../../../assets/images/friends.png" alt="Users"></span>
                    <span>User</span>
                </a>
              </div>
              <div class="div-menu-container">
                <a href="#" class="a-menu" (click)="openSubDropdown()">
                    <span class="icon-menu"><img src="../../../../assets/images/laptop.png" alt="UI Feature"></span>
                    <span>UI Feature</span>
                    <span class="up-icon"><img src="../../../../assets/images/caret-arrow-up.png" alt="arrow up"></span>
                </a>
              </div>
              <div class="sub-dropdown" [class.hide]="subDropdownHidden">
                <a href="#" class="a-menu">
                  <span class="icon-menu"><img src="../../../../assets/images/friends.png" alt="Buttons"></span>
                  <span>Buttons</span>
                </a>
                <a href="#" class="a-menu">
                  <span class="icon-menu"><img src="../../../../assets/images/friends.png" alt="Cards"></span>
                  <span>User</span>
                </a>
                <a href="#" class="a-menu">
                  <span class="icon-menu"><img src="../../../../assets/images/friends.png" alt="List"></span>
                  <span>List</span>
                </a>
                <a href="#" class="a-menu">
                  <span class="icon-menu"><img src="../../../../assets/images/friends.png" alt="Grid"></span>
                  <span>Grid</span>
                </a>

              </div>
              <div class="div-menu-container">
                <a href="#" class="a-menu" >
                    <span class="icon-menu"><img src="../../../../assets/images/list.png"
                        alt="Dynamic Menu"></span>
                    <span>Dynamic Menu</span>
                </a>
              </div>
              <div class="div-menu-container">
                <a href="#" class="a-menu">
                    <span class="icon-menu"><img src="../../../../assets/images/black-back-closed-envelope-shape.png" alt="Mailbox"></span>
                    <span>Mailbox</span>
                </a>
              </div>
              <div class="div-menu-container">
                <a href="#" class="a-menu">
                    <span class="icon-menu"><img src="../../../../assets/images/comment.png" alt="Chat"></span>
                    <span>Chat</span>
                </a>
              </div>
              <div class="div-menu-container">
                <a href="#" class="a-menu">
                    <span class="icon-menu"><img src="../../../../assets/images/code.png"
                        alt="Form Controls"></span>
                    <span>Form Controls</span>
                    <span class="up-icon"><img src="../../../../assets/images/caret-arrow-up.png" alt="up arrow"></span>
                </a>
              </div>
              <div class="div-menu-container">
                <a href="#" class="a-menu">
                    <span class="icon-menu"><img src="../../../../assets/images/grid.png" alt="Tables"></span>
                    <span>Tables</span>
                    <span class="up-icon"><img src="../../../../assets/images/caret-arrow-up.png" alt="up arrow"></span>
                </a>
              </div>
              <div class="div-menu-container">
                <a href="#" class="a-menu">
                    <span class="icon-menu"><img src="../../../../assets/images/dashboard.png" alt="Pages"></span>
                    <span>Pages</span>
                    <span class="up-icon"><img src="../../../../assets/images/caret-arrow-up.png" alt="up arrow"></span>
                </a>
              </div>
              <div class="div-menu-container">
                <a href="#" class="a-menu">
                    <span class="icon-menu"><img src="../../../../assets/images/calendar.png" alt="Schedule"></span>
                    <span>Schedule</span>
                </a>
              </div>
              <div class="div-menu-container">
                <a href="#" class="a-menu">
                    <span class="icon-menu"><img src="../../../../assets/images/dashboard.png" alt="Maps"></span>
                    <span>Maps</span>
                    <span class="up-icon"><img src="../../../../assets/images/caret-arrow-up.png" alt="up arrow"></span>
                </a>
              </div>
              <div class="div-menu-container">
                <a href="#" class="a-menu">
                    <span class="icon-menu"><img src="../../../../assets/images/dashboard.png" alt="Charts"></span>
                    <span>Charts</span>
                    <span class="up-icon"><img src="../../../../assets/images/caret-arrow-up.png" alt="up arrow"></span>
                </a>
              </div>
              <div class="div-menu-container">
                <a href="#" class="a-menu">
                    <span class="icon-menu"><img src="../../../../assets/images/dashboard.png" alt="Drag & Drop"></span>
                    <span>Drag & Drop</span>
                </a>
              </div>  
            </div>
          </div>
        </div>
   