 <div class="main-container">
          <div class="sub-container">
            <div class="header-container">
              <a href="#" class="a-g"><span class="g">G</span></a>
              <a href="#" class="a-gradus"><span class="gradus">GRADUS</span></a>
              <a href="#" class="a-pin"> <span class="pin"><img src="../../../../assets/images/pin.png" alt="pin"></span> </a>
            </div>
            <div class="profile-container" [class.close]="profileContainerOpen">
              <div class="detail-container">
                <span class="profile-img"><img src="../../../../assets/images/profile.png" alt="picture"></span>
                <span class="data">                 
                  <h4>{{'HOME.side-nav-data-name' | translate}}</h4>
                  <h5>{{'HOME.side-nav-data-work' | translate}}</h5>
                  <p>{{'HOME.side-nav-data-workTime' | translate}}</p>
                </span>
              </div>
              <div class="icon-container">
                <a href="#"><img class="icon-container-img" src="../../../../assets/images/user.png" alt="avatar"></a>
                <a href="#"><img class="icon-container-img" src="../../../../assets/images/message-closed-envelope.png" alt="message"></a>
                <a href="#"><img class="icon-container-img" src="../../../../assets/images/power.png" alt="power"></a>
              </div>
            </div>
            <div class="menu-container">
              <div class="dashboard">
                <a href="#" class="a-menu-dashboard" routerLink="/dashboard" routerLinkActive="active">
                    <span class="icon-menu"><img class="icon-container-img" src="../../../../assets/images/dashboard.png" alt="dashboard"></span>
                    <span class="menu-dash">{{'HOME.menu-container-dashboard' | translate}}</span>
                </a>
              </div>
              <div>
                <a href="#" class="a-menu"  routerLink="/user" routerLinkActive="active" (click)="navigate()">
                    <span class="icon-menu"><img class="icon-container-img" src="../../../../assets/images/friends.png" alt="Users"></span>
                    <span>{{'HOME.menu-container-user' | translate}}</span>
                </a>
              </div>
              <div>
                <a href="#" class="a-menu" (click)="openSubDropdown()">
                    <span class="icon-menu"><img class="icon-container-img" src="../../../../assets/images/laptop.png" alt="UI Feature"></span>
                    <span>{{'HOME.menu-container-ui-feature' | translate}}</span>
                    <img class="up-icon" [class.flip]="!subDropdownHidden" src="../../../../assets/images/caret-arrow-up.png" alt="arrow up">
                </a>
                <div class="sub-dropdown" [class.hide]="subDropdownHidden">
                  <a href="#" class="a-sub-menu" *ngFor="let drop of drop1">
                    <span class="icon-menu"><img class="icon-container-img" src="{{drop.img}}" alt="{{drop.value}}"></span>
                    <span>{{drop.value}}</span>
                  </a>
                </div>
              </div>
              <div>
                <a href="#" class="a-menu" routerLink="/dynamicMenu" routerLinkActive="active" (click)="navigate()">
                    <span class="icon-menu"><img class="icon-container-img" src="../../../../assets/images/list.png"
                        alt="Dynamic Menu"></span>
                    <span>{{'HOME.menu-container-dynamic-menu' | translate}}</span>
                </a>
              </div>
              <div>
                <a href="#" class="a-menu">
                    <span class="icon-menu"><img class="icon-container-img" src="../../../../assets/images/black-back-closed-envelope-shape.png" alt="Mailbox"></span>
                    <span>{{'HOME.menu-container-mailbox' | translate}}</span>
                </a>
              </div>
              <div>
                <a href="#" class="a-menu">
                    <span class="icon-menu"><img class="icon-container-img" src="../../../../assets/images/comment.png" alt="Chat"></span>
                    <span>{{'HOME.menu-container-chat' | translate}}</span>
                </a>
              </div>
              <div>
                <a href="#" class="a-menu" (click)="openSubFormDropdown()">
                    <span class="icon-menu"><img class="icon-container-img" src="../../../../assets/images/code.png"
                        alt="Form Controls"></span>
                    <span>{{'HOME.menu-container-form-controls' | translate}}</span>
                    <img class="up-icon" [class.flip]="!subFormDropdownHidden" src="../../../../assets/images/caret-arrow-up.png" alt="up arrow">
                </a>
                <div class="sub-dropdown" [class.hide]="subFormDropdownHidden">
                  <a href="#" class="a-sub-menu" *ngFor="let form of form">
                    <span class="icon-menu"><img class="icon-container-img" src="{{form.img}}" alt="{{form.value}}"></span>
                    <span>{{form.value}}</span>
                  </a>
                </div>
              </div>
              <div>
                <a href="#" class="a-menu" (click)="openSubTableDropdown()">
                    <span class="icon-menu"><img class="icon-container-img" src="../../../../assets/images/grid.png" alt="Tables"></span>
                    <span>{{'HOME.menu-container-tables' | translate}}</span>
                    <img class="up-icon" [class.flip]="!subTableDropdownHidden" src="../../../../assets/images/caret-arrow-up.png" alt="up arrow">
                </a>
                <div class="sub-dropdown" [class.hide]="subTableDropdownHidden">
                  <a href="#" class="a-sub-menu" *ngFor="let table of table">
                    <span class="icon-menu"><img class="icon-container-img" src="{{table.img}}" alt="{{table.value}}"></span>
                    <span>{{table.value}}</span>
                  </a>
                </div>
              </div>
              <div>
                <a href="#" class="a-menu" (click)= "openSubPageDropdown()">
                    <span class="icon-menu"><img class="icon-container-img" src="../../../../assets/images/pages.png" alt="Pages"></span>
                    <span>{{'HOME.menu-container-pages' | translate}}</span>
                    <img class="up-icon" [class.flip]="!subPageDropdownHidden" src="../../../../assets/images/caret-arrow-up.png" alt="up arrow">
                </a>
                <div class="sub-dropdown" [class.hide]="subPageDropdownHidden">
                  <a href="#" class="a-sub-menu" *ngFor="let page of page">
                    <span class="icon-menu"><img class="icon-container-img" src="{{page.img}}" alt="{{page.value}}"></span>
                    <span>{{page.value}}</span>
                  </a>
                </div>
              </div>
              <div>
                <a href="#" class="a-menu">
                    <span class="icon-menu"><img class="icon-container-img" src="../../../../assets/images/calendar.png" alt="Schedule"></span>
                    <span>{{'HOME.menu-container-schedule' | translate}}</span>
                </a>
              </div>
              <div>
                <a href="#" class="a-menu">
                    <span class="icon-menu"><img class="icon-container-img" src="../../../../assets/images/map2.png" alt="Maps"></span>
                    <span>{{'HOME.menu-container-maps' | translate}}</span>
                    <img class="up-icon" src="../../../../assets/images/caret-arrow-up.png" alt="up arrow">
                </a>
              </div>
             
              <div>
                <a href="#" class="a-menu">
                    <span class="icon-menu"><img class="icon-container-img" src="../../../../assets/images/dashboard.png" alt="Charts"></span>
                    <span>{{'HOME.menu-container-charts' | translate}}</span>
                    <img class="up-icon" src="../../../../assets/images/caret-arrow-up.png" alt="up arrow">
                </a>
              </div>
              <div>
                <a href="#" class="a-menu">
                    <span class="icon-menu"><img class="icon-container-img" src="../../../../assets/images/dashboard.png" alt="Drag & Drop"></span>
                    <span>{{'HOME.menu-container-drag-drop' | translate}}</span>
                </a>
              </div>  
            </div>
          </div>
        </div>
   